/* you can add to or change this. */

h1{ 
  font-family: 'Luckiest Guy', cursive;
  font-size: 8rem;
  margin-bottom: 50px;
}

h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-bottom: 50px;
}

body {
  height: 125vh;
  background-image: linear-gradient(90deg, #6096B4,#93BFCF,#BDCDD6,#EEE9DA 80%);
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

p {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
}

#game div {
  border: 10px solid white;
  width: 129px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  transition: all 700ms ease;
  transform-style: preserve-3d;
  perspective: 800px;
}

#game .flipped {
  transform: rotateY(-180deg);
}

button {
  background-color: #408E91;
  border: 1px solid white;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-top: 0;
}

button:hover {
  background-color: #245953;
}